<f:layout name="BackendSubModule" />

<f:section name="content">
	<f:render partial="SearchForm" arguments="{activeSites: activeSites}" />
	<f:form action="purgeAllVarnishCache">
		<fieldset>
			<legend>Clear all cache</legend>
			<div class="neos-row">
				<f:if condition="{activeSites -> f:count()} > 1">
					<div class="neos-span3">
						<div>
							<label for="site">Site</label>
						</div>
						<div>
							<f:form.select name="site" id="site" options="{activeSites}" optionLabelField="name" prependOptionLabel="All" class="neos-span3" />
						</div>
					</div>
				</f:if>
				<div class="neos-span10">
					<div>
						<label class="neos-control-label" for="contentType">Content-type</label>
					</div>
					<div>
						<f:form.textfield name="contentType" id="contentType" placeholder="e.g. image/png" class="neos-span3" />
						<f:form.submit class="neos-button neos-button-primary" value="Clear all cache!" />
					</div>
				</div>
			</div>
		</fieldset>
	</f:form>
	<f:form action="purgeCacheByTags">
		<fieldset>
			<legend>Clear cache by tags</legend>
			<div class="neos-row">
				<f:if condition="{activeSites -> f:count()} > 1">
					<div class="neos-span3">
						<div>
							<label for="tagsSite">Site</label>
						</div>
						<div>
							<f:form.select name="site" id="tagsSite" options="{activeSites}" optionLabelField="name" prependOptionLabel="All" class="neos-span3" />
						</div>
					</div>
				</f:if>
				<div class="neos-span10">
					<div>
						<label class="neos-control-label" for="tags">Tags (comma-separated)</label>
					</div>
					<div>
						<f:form.textfield name="tags" id="tags" placeholder="e.g. NodeType_TYPO3_Neos-Document" class="neos-span5" required="required" />
						<f:form.submit  class="neos-button neos-button-primary" value="Clear by tags" />
					</div>
				</div>
			</div>
		</fieldset>
	</f:form>
	<legend>Configuration</legend>
	<dl class="dl-horizontal">
		<dt>Varnish URL</dt><dd><f:if condition="{settings.varnishUrl -> f:count()} > 1"><f:then><f:for each="{settings.varnishUrl}" as="varnishUrl" iteration="iterator"><span class="neos-badge">{varnishUrl}</span><f:if condition="{iterator.isLast}"><f:else> </f:else></f:if></f:for></f:then><f:else><span class="neos-badge">{settings.varnishUrl}</span></f:else></f:if></dd>
		<f:if condition="{settings.cacheHeaders.disabled}"><dt>Cache headers</dt><dd><span class="neos-badge neos-badge-important">Disabled</span></dd></f:if>
		<f:if condition="{settings.reverseLookupPort}"><dt>Reverse lookup port</dt><dd>{settings.reverseLookupPort}</dd></f:if>
		<dt>Default maximum age</dt><dd><span class="neos-badge">{f:if(condition: settings.cacheHeaders.defaultSharedMaximumAge, then: '{settings.cacheHeaders.defaultSharedMaximumAge} s', else: 'N/A')}</span></dd>
		<dt>Ignored cache tags</dt><dd>
			{f:if(condition: settings.ignoredCacheTags, else: '<span class="neos-badge">N/A</span>')}<f:for each="{settings.ignoredCacheTags}" as="ignoredCacheTag"><span class="neos-label">{ignoredCacheTag}</span></f:for>
		</dd>
	</dl>
</f:section>